[package]
name = "types"
version = "0.1.0"
edition = "2024"

[lib]


[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
tokio-serial = { version = "5.4.5" }
tokio-util = { version = "0.7", features = ["codec"] }
